<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="t0" placeholder="ascii"></textarea>
</div>
<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="e()"><%= encode %></button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d()"><%= decode %></button>
</p>
<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="t1" placeholder="base64"></textarea>
</div>
