<form>
  <div class="mdui-textfield mdui-textfield-floating-label" style="width: 100px;">
    <label class="mdui-textfield-label"><%= indentation %></label>
    <input class="mdui-textfield-input" type="number" id="idt" value='2'/>
  </div>
</form>
<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="b()"><%= beautify %></button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="noq()"><%= noquote %></button>
</p>
<textarea id="t0"></textarea>
