<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="content" placeholder="<%= htmlplace %>"></textarea>
</div>
<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('javascript')">javascript</button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('php')">php</button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('asp')">asp</button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('jsp')">jsp</button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('perl')">perl</button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('sws')">sws</button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d('vbnet')">vbnet</button>
</p>
<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="result" placeholder="<%= scriptplace %>"></textarea>
</div>
