<p>
  <input class="validate" style="display:none;" type="file" accept="image/*" id="input"></input>
  <label for="input" class="mdui-btn mdui-btn-raised mdui-ripple"><%= select %></label>
</p>

<style>
#result {
  display: block;
  min-height: 200px;
  padding: 15px;
  background: #fcfcfc;
}
</style>

<p id="result">
</p>
