<p>
  <input type="file" accept="image/*" id="input"><%= select %></input>
</p>

<!-- <p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="e()"><%= invert %></button>
</p> -->

<p>
  <img id="t1" src=""></img>
</p>
