<p>
  <input type="file" accept="image/*" id="input"><%= select %></input>
</p>

<textarea class="mdui-textfield-input" id="t0" placeholder="base64"></textarea>

<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="d()"><%= decode %></button>
</p>

<p>
  <img id="t1" src=""></img>
</p>
