<style>
#result {
  display: block;
  min-height: 200px;
  padding: 15px;
  background: #fcfcfc;
}
</style>

<div class="mdui-textfield">
  <label class="mdui-textfield-label">URL</label>
  <input class="mdui-textfield-input" type="text" id="url" placeholder="URL" value="google.com" focused></input>
</div>
<div>
  <button id="btn" class="mdui-btn mdui-btn-raised mdui-ripple" onclick="s()"><%= get %></button>
</div>
<div id="result">
</div>
