<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="json" placeholder="<%= jsonplace %>"></textarea>
</div>
<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="j2x()"><%= j2x %></button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="x2j()"><%= x2j %></button>
</p>
<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="xml" placeholder="<%= xmlplace %>"></textarea>
</div>
