<div class="mdui-textfield mdui-textfield-floating-label" style="width: 60px;display: inline-block;">
  <label class="mdui-textfield-label"><%= base %></label>
  <input class="mdui-textfield-input" type="number" id="b0" value="10">
</div>
<div class="mdui-textfield mdui-textfield-floating-label" style="width: 300px;display: inline-block;">
  <label class="mdui-textfield-label"></label>
  <input class="mdui-textfield-input" type="text" id="n0" value="2017">
</div>
<style>
.equel {
  font-size: 40px;
}
</style>
<div class="equel">=</div>
<div class="mdui-textfield mdui-textfield-floating-label" style="width: 60px;display: inline-block;">
  <label class="mdui-textfield-label"><%= base %></label>
  <input class="mdui-textfield-input" type="number" id="b1" value="2">
</div>
<div class="mdui-textfield mdui-textfield-floating-label" style="width: 300px;display: inline-block;">
  <label class="mdui-textfield-label"></label>
  <input class="mdui-textfield-input" type="text" id="n1" value="11111100001">
</div>
